:root {
  --gptp-primary-color-50: #ececf1;
  --gptp-primary-color-100: #d9d9e3;
  --gptp-primary-color-200: #d1d5db;
  --gptp-primary-color-300: #c5c5d2;
  --gptp-primary-color-400: #acacbe;
  --gptp-primary-color-500: #8e8ea0;
  --gptp-primary-color-550: #565869;
  --gptp-primary-color-600: #444654;
  --gptp-primary-color-700: #40414f;
  --gptp-primary-color-800: #343541;
  --gptp-primary-color-900: #202123;
  --gptp-green-color-500: #19c37d;
  --gptp-from-overlay-color: var(--gptp-primary-color-900);
  --gptp-to-overlay-color: #34354123;
  --gptp-overlay-vertical-bottom-gradient: linear-gradient(
    to top,
    var(--gptp-from-overlay-color) 0%,
    var(--gptp-to-overlay-color) 85%,
    transparent 100%
  );
}

.gptp-default-btn {
  padding: 0.5rem 0.75rem;
  margin: 1rem;
  color: var(--gptp-primary-color-100);
  background-color: var(--gptp-primary-color-800);
  border: 1px solid var(--gptp-primary-color-550);
  border-radius: 0.25rem;
  float: right;
}

.gptp-default-btn:hover {
  background-color: var(--gptp-primary-color-700);
}
